input{
    width:200px;
    height:20px;
    font-size: 20px;
}

.select{
    width:250px;
    height:25px;
    font-size: 16px;
}

option{
    background-color: rgb(124, 121, 121);
    color:white;
}